*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-family: "Open Sans", Sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/*------------------ HEADER ----------------------*/

header{
    background: url('../img/bg.png') #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 600px;
}

header .menu{
    margin: 40px 0;
    text-align: right;
}

header .menu a{
    margin: 0 20px;
    color: #fff;
    padding-bottom: 9px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-size: 1em;
}

header .menu a:hover{
    border-bottom: 2px solid #fff;
}

header .contenedor-texto{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 190px 0;
}

header .contenedor-texto .texto{
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    padding: 20px 60px;
}

header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2{
    color: #fff;
    font-weight: 300;
    margin: 2px;
}

header .contenedor-texto .texto .nombre{
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 50px;
}

header .contenedor-texto .text .profesion{
    font-size: 25px;
    line-height: 25px;
}

/*------------------ MAIN ----------------------*/

.main .contenedor{
    overflow: visible;
}

.main .acerca-de{
    text-align: center;
}

.main .acerca-de .foto{
   margin-top: -60px; 
}

.main .acerca-de .foto img{
    vertical-align: top;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 5px solid rgba(255, 255, 255, 0.2);
}

.main .acerca-de .texto{
    color: #5a5a5a;
    font-weight: 600;
    font-size: 1em;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto;
    text-align: justify;
}

.main .acerca-de .texto .titulo{
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #34343b;
    text-align: center;
}

.main .acerca-de .texto .bold{
    color: #3895ea;
    text-decoration: underline;
}

.main .trabajos{
    background: #f2f2f2;
    padding: 60px 0;
}

.main .trabajos .contenedor{
    overflow: hidden
}

.main .trabajos .titulo{
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #323061;
    text-align: center;
}

.main .trabajos .contenedor-trabajos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .trabajos .contenedor-trabajos .trabajo{
   width: 23%; 
}

.main .trabajos .contenedor-trabajos .trabajo .thumb{
    width: 100%;
    margin-bottom: 10px;
}

.main .trabajos .contenedor-trabajos .trabajo .thumb img{
    width: 100%;
    vertical-align: top;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.main .trabajos .contenedor-trabajos .trabajo .thumb:hover img{
    transform: scale(0.9);
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion{
    text-align: center;
}

.main .trabajos .contenedor-trabajos .trabajo .nombre{
    font-weight: 700;
    color: #3895ea;
    margin-bottom: 10px;
}

.main .trabajos .contenedor-trabajos .trabajo .categoria{
    font-size: 14px;
    color: #636366;
    margin-bottom: 30px;
}

.main .trabajos a{
    text-decoration: none;
    color: #3895ea;;
}

/*------------------ FOOTER ----------------------*/

footer .contacto{
    padding: 60px 0;
}

footer .contacto .titulo{
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #3895ea;
    text-align: center;
}

footer .contacto .correo{
    text-align: center;
}

footer .redes-sociales{
    background: #1e2b38;
    padding: 60px 0;
}

footer .redes-sociales .contenedor{
    display: flex;
    justify-content: center;
}

footer .redes-sociales a{
    color: white;
    text-align: center;
    width: 100px;
    display: block;
    padding: 15px 0;
    border-radius: 3px;
    font-size: 30px;
    margin: 0 20px;
}

footer .redes-sociales .facebook:hover {background-color: #3b5998; border-radius: 15px;}
footer .redes-sociales .github:hover {background-color: #666666; border-radius: 15px;}
footer .redes-sociales .instagram:hover {background-color: #eb30d2; border-radius: 15px;}

/*----------------- MEDIA QUERIES --------------------*/

@media screen and (max-width: 800px) {
    header .menu{
        text-align: center;
    }

    .main .trabajos .contenedor-trabajos .trabajo{
        width: 46%;
    }
}

@media screen and (max-width: 500px) {
    header .contenedor .contenedor-texto .nombre{
        font-size: 22px;
    }

    header .contenedor .contenedor-texto .profesion{
        font-size: 18px;
    }

    footer .redes-sociales .contenedor{
        flex-wrap: wrap;
        padding: 20px;
    }
}

@media screen and (max-width: 390px){

    header .contenedor-texto{
        margin-top: 90px;
    }

    header .contenedor-texto .texto{
        padding: 20px 40px;
    }

   
    header .contenedor .contenedor-texto .nombre{
        font-size: 22px;
        font-weight: 400;
    }

    header .contenedor .contenedor-texto .profesion{
        font-size: 16px;
    }
}
